.music{
     font-family: "Fleur De Leah", cursive;
     font-size: 2rem;
     background-color: transparent;
     border: none;
    margin-left: 5rem;
    margin-top: 2rem;

     
}
.play{
    background-color: antiquewhite;
}
