
.qr,
.parrafo,
.url {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
.image_qr{
    width: 30rem;
    height: 30rem;
}
.landing {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
   
}
.married {
    font-family: "Fleur De Leah", cursive;
    font-size: 8rem;
    margin-bottom: 20px;
}
.button_1{
    font-family: "Fleur De Leah", cursive;
    background-color: transparent;
    border-radius: 5px;
    font-size: 2rem;
    padding: 10px 20px;
}
@media (max-width: 768px){
    .image_qr {
        width: 20rem;
        height: 20rem;
    }
    .landing {
        margin: 0;
        padding: 0;
    }
    .married {
        font-size: 3rem;
    }
    .parrafo {
 margin-left: 10px; 
        
    }
    .url {
        font-size: 1rem;
        font-weight: bold;
        
    }
}